.contact-section {
  padding: 2rem 4rem;
}

.contact-section__heading {
  text-align: center;
  padding-bottom: 4rem;
  font-weight: 700;
}

.contact-section__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.contact-section__help {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-section__help h4 {
  font-weight: 500;
}

.contact-section__help p {
  color: gray;
}

#contactForm {
  width: 100%;
  max-width: 600px;
  /* margin: 4rem auto; */
  padding: 20px;
  background-color: #f9f9f9; /* Adjust if needed */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#contactForm:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

#contactForm div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333; /* Adjust if needed */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #007bff; /* Blue for focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  background-color: #007bff; /* Blue background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Dark blue on hover */
}

button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

button:active {
  background-color: #004085; /* Darker blue on click */
}

@media (max-width: 600px) {
  #contactForm {
    padding: 15px;
    margin: 15px 15px;
  }

  .contact-section__content {
    grid-template-columns: 1fr;
  }

  .contact-section__help {
    text-align: center;
  }
}
