/* src/components/HomePage.css */
.page-container {
    /* margin-left: 20px;
    margin-right: 20px; */
  }
  
  .banner-container {
    position: relative;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .banner-image {
    width: 100%;
  }
  
  .shop-now-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .shop-now-button:hover {
    background-color: #333;
    color: white;
  }
  

  
  /* Search bar styling */
.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  /* Hide the search bar on small screens */
/* Hide the search bar on small screens */

  /* Ensure the navbar items are centered on small screens */
  @media (max-width: 768px) {
    .navbar-nav {
      text-align: center;
    }
  }
  
  
  .card-container {
    position: relative;
  }
  
  .bestseller-card {
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  
  .dropdown-hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22%;
    background-color: rgba(244, 244, 244, 0.9);
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  /* Navbar adjustments for responsiveness */
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
  

  
  .card-container:hover .dropdown-hover {
    transform: translateY(0);
  }
  
  .dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  
  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #56b7ee;
    padding: px;
    border-radius: 5px;
  }
  
  .counter button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    margin: 0px 10px;
    
    cursor: pointer;
  }
  
  .counter span {
    margin: 0 10px;
    font-size: 1.2em;
  }
  